<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobs Common Demo | JobBrander</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns text-center">
        <h1>Jobs Common Demo</h1>
        <p>
            <a href="/">Select a provider</a> |
            <a href="http://code.jobbrander.com/" target="_blank">Read 
                more about this project</a> | 
            <a href="https://github.com/karllhughes/jobs-common-demo" target="_blank">This
            code on Github</a>
        </p>
      </div>
    </div>
      {% block content %}{% endblock %}
  </body>
</html>