{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="medium-10 medium-offset-1 columns">
        <h3>Getting jobs from {{ provider }}</h3>
        <p>
            Connected to {{ provider }}'s API using JobBrander's
            <a href="{{ repository }}" target="_blank">{{ provider }} PHP API Client</a>.
            Scroll down to see <a href="#results">the job listings</a> returned.
        </p>
        
        <h4 id="code">Code:</h4>
        <script src="http://gist-it.appspot.com/http://github.com/{{ code_path }}"></script>

        <h4 id="results">Results</h4>
        <table>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Link</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result['title'] }}</td>
                <td>{{ result['company'] }}</td>
                <td><a href="{{ result['url'] }}" target="_blank">{{ result['url'] }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
