{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="medium-8 medium-offset-2 columns">
        <h3>Getting jobs from {{ provider }}</h3>
        <p>
            Connected to {{ provider }}'s API using the
            <a href="{{ repository }}" target="_blank">{{ provider }} PHP API Client</a>.
            Below is a sampling of the job listings returned.
        </p>

        <h4 id="results">Results</h4>
        <table>
            <tr>
                <th>Job Listing</th>
                <th>Company</th>
                <th>Link</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result['title'] }}</td>
                <td>{{ result['company'] }}</td>
                <td><a href="{{ result['url'] }}" target="_blank">Link</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
